p {
	font-family: Arial, Helvetica, sans-serif;	

}

h1 {
	color: #005a24;
	font-family: Arial, Helvetica, sans-serif;	

}

a {
	color: #00607f;
}

hr {
	border: 1px solid #005a24;
	border-radius: 5px;

}


.exercise {
  width: 70%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
  padding-top: 20px;
}

.lesson {
  width: 90%;
  margin: auto;

}

.center {
	width: 300px;
	margin: auto;
}


.trigger-buttons {
	background-color: #00607f;
	border: none;
  	color: white;
  	padding: 15px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 12px;
  	width: 180px;

}

.nav-buttons {
	background-color: #06ac38;
	border: none;
  	color: white;
  	padding: 15px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 12px;
  	width: 180px;
}


.forward {
	float: right;
}

.back {
	float: left;
}

.submit {
	background-color: #00607f;
	border: none;
  	color: white;
  	padding: 5px 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
  	border-radius: 8px;
  	width: 60px;
  	margin-left: 10px;
}

.gifs {
	width: 100%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  }

.subtitle {
		color: #005a24;


}

.key {
	color: #06ac38;
	font-weight: bold;
}

.link {
	color: #005a24;
	text-decoration: underline;

}



img{
	max-width:100%;
max-height:100%;
}


#dismiss {
	float: right;
	font-family: Arial, Helvetica, sans-serif;	

}

#alert {
	background-color: #fca9ae;
	padding: 5px 15px;
	margin: 15px 0px;
	border-radius: 5px;

}

#correct {
	background-color: #94b2a5;
	padding: 5px 15px;
	margin: 15px 0px;
	border-radius: 5px;


}

#tip {
	background-color: #94b2a5;
	padding: 10px 15px;
	margin: 15px 0px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;	

}

#feature {
	background-color: #a5c6de;
	padding: 10px 15px;
	margin: 15px 0px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;	

}


#nav-bar {
	width: 100%;
	margin: auto;
	padding-top: 10px;
}

